body{
    background-color: #FFDAB9;
}
h1{
    color: #130a94;
}
header ul {
    text-align: center;
    background-color: pink;
    padding: 0;
    margin: 0;
}
header li {
    display: inline;
}
header a {
    padding: 5px;
}