body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFDAB9;
}
h1 {
    color: #130a94;
    margin-top: 5px;
}
.kasim-heading{
    font-family: 'Montesrrat', sans-serif;
}
header ul {
    display: flex;
    text-align: center;
    list-style-type: none;
    flex-direction: column;
    background-color: pink;
    padding: 0;
    margin: 0;
    gap: 5px;
}
header a {
    padding: 5px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 1fr 200px;
    gap: 30px;
}
.title {
    grid-column: span 2;
}
.img {
    grid-column: 2/3;
    grid-row: 2/3;
    
}
.p1{
    grid-row: 2/3;
    grid-column: 1/2;
}
.p2{
    grid-row: 3/4;
}
header{
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: pink;
}
footer{
    margin-top: auto;
    text-align: center;

}
footer > p {
    background-color: pink;
}
@media screen and (min-width:600px) {
    .courses-list {
        flex-direction: row;
        gap: 0;
    }
}